:root {
  --primary-color: #3734a9;
}

.wrapper {
  /* overflow: hidden; */
}

.restaurant-frame {
  background-color: var(--primary-color);
  /* height: 100%;  */
}

.restaurant-frame h4 {
  color: white;
}

p {
  color: white;
}

/* @media only screen and (max-width: 766px) {
  .wrapper {
    overflow: visible;
  }
} */

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link,
.tab-pane {
  color: white;
}

.nav-tabs .nav-link,
.tab-pane .btn {
  color: white;
}

.btn:hover {
  color: var(--primary-color);
}

.tab-content .fas {
  color: white;
  opacity: 0.5;
}

.tab-content .fas:hover {
  color: white;
  opacity: 1;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: none;
}

.carousel-inner .carousel-item {
  margin-left: 5em;
}

.menu {
  margin-left: -3rem;
}

.tab-pane .profile-pic {
  width: 5%;
  /* height: 50%; */
}

.comment-vote:hover {
  color: #232444;
  cursor: pointer;
}

.delete-comment {
  color: #f01e1f;
  opacity: 0.6;
}

.delete-comment:hover {
  opacity: 1;
  cursor: pointer;
}
/* Source overlay starts */
/* https://www.w3schools.com/howto/howto_css_image_overlay_title.asp */

.overlay-menu-img {
  position: absolute;
  opacity: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  color: white;
  font-size: 145%;
  padding: 1%;
}

.container-menu-img:hover .overlay-menu-img {
  opacity: 1;
}

.overlay-pictures {
  position: absolute;
  opacity: 0;
  bottom: 5%;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  color: white;
  font-size: 145%;
  padding: 1%;
}

.container-pictures:hover .overlay-pictures {
  opacity: 1;
}
/* Source overlay ends */

.menu-item-img {
  cursor: pointer;
}

.add-menu-item {
  color: #23ce6b;
  opacity: 0.6;
  cursor: pointer;
}

.add-menu-item:hover {
  opacity: 1;
}
